h4 {
  padding: 25px 0;
}

.card {
    margin: 30px auto;
    padding: 30px 7% 30px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: medium;
}

.resultSearchImage {
    margin: 10px;
}

.cardContent {
    display: flex;
    justify-self: left;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

tr:hover {background-color: #D6EEEE;}

a.mainButton {
    color: white;
    background-color: #007977;
    text-decoration: none;
    text-align: center;
    padding: 13px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a.secondaryButton {
    color: black;
    background-color: white;
    text-decoration: none;
    text-align: center;
    padding: 13px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a.mainButton:hover{
    background-color: rgb(67, 194, 109);
}

a.secondaryButton:hover{
    background-color: rgb(67, 194, 109);
}

h5 {
    color: black;
}

.question {
    padding: 10px;
}

.form-c:has(select input:checked[value="Sim"]) .outro-input {
  display: block;
}
.date-input {
            width: 120px; 
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 0.9em;
            box-sizing: border-box;
}

.title-style-3 {
            font-size: 1.6em;
            color: #2c3e50; 
            margin-bottom: 25px;
            padding-bottom: 12px;
            position: relative; 
            display: inline-flex; 
            align-items: center;
        }
.title-style-3 i { 
            margin-right: 10px;
            color: #3498db; 
        }
.title-style-3::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 70%; 
            height: 3px; 
            background: linear-gradient(to right, #3498db, #2ecc71); 
            border-radius: 2px;
        }
